nav {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgb(16, 235, 34);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(162, 7, 201);
    border: .2rem solid  rgb(162, 7, 201);
    
}

li {
    margin-right: 1rem;
}

ul#menu li{
    display: inline-block;
}

#smallmenu{
    display: none;
}